PORT=3000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/hunter_engine?retryWrites=true&w=majority
REDIS_URL=redis://localhost:6379
CF_API_BASE=https://codeforces.com/api
ENGINE_VERSION=1.0.0
